<div class="container">
  <h1 class="header">CONTACT US</h1>
  <h2 class="secondary-header">SPEAK TO CUSTOMER SERVICE</h2>
  <p>
    If you have any questions about a product, order update or an issue that
    needs attention please contact our Customer Service Team.
  </p>
  <ul>
    <li class="li">Call +972-525-436-781</li>
  </ul>
  <h1 class="education">EDUCATION & B2B SALES</h1>
  <p>to contact our Education Department</p>
  <ul>
    <li class="li">Call +972-525-436-782</li>
    <li class="li">mail - education@lionmusic.co.uk</li>
  </ul>
  <h1 class="opening-hours-header">OPENING HOURS</h1>
  <h3 class="sunday-thursday">Sunday-Thursday</h3>
  <ul>
    <li class="li">09:30-18:00</li>
  </ul>
  <h3 class="friday">Friday</h3>
  <ul>
    <li class="li">10:00-17:00</li>
  </ul>
</div>
